@import 'variables';

*{
  outline: none;
}
a:focus, a:hover, input:focus, input:hover {
  text-decoration: none;
  color: inherit;
}
body {
  @import 'MediaQueries/main';
  overflow-x: hidden;
}

.head {
  background: url('../images/bg.png') no-repeat center;
  background-size: cover;
  min-height: 100vh;
      display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
  width: 100%;
  padding-top: 100px;
  position: relative;
  section {
    width: 100%;
  }
}

nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  .logo {
    position: absolute;
    top: 30px;
    left: 70px;
  }
  .nav-call {
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    position: absolute;
    transition: 0.2s;
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 54px;
    right: 70px;
    line-height: 1;
    cursor: pointer;
    padding: 0 20px;
    &:after {
      content: '[';
      height: 18px;
      width: 2px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      transition: 0.2s;
    }
    &:before {
      content: ']';
      height: 18px;
      width: 2px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      transition: 0.2s;
    }
    &:hover {
      color: #29ceae;
      &:before, &:after {
        color: #29ceae;
      }
    }
  }
}

.nav-list {
  list-style: none;
  margin: 42px 0 0;
  padding: 0;
  li {
    font-family: "Gotham Pro";
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    text-transform: uppercase;
    transition: 0.2s;
    letter-spacing: 0.7px;
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
    cursor: pointer;
    &:hover {
      color: #2bdfbc;
    }
  }
}

.head-info {
  color: #2bdfbc;
  font-family: "Gotham Pro";
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  margin: 0;
}

.head-title {
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 80px;
  font-weight: 700;
  line-height: 104px;
  text-transform: uppercase;
}

.head-sub_title {
 margin-bottom: 36px;
  color: #000000;
font-family: "Gotham Pro";
font-size: 14px;
font-weight: 500;
line-height: 30px;
text-transform: uppercase;
letter-spacing: 2.1px;
  span {
      background-color: #ffffff;
  padding: 4px;
    display: inline;
  }
}

.order-btn {
  box-shadow: 0 11px 29px rgba(8, 113, 93, 0.31);
  background-color: #29ceae;
  max-width: 262px;
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  text-align: center;
  padding: 19px 0 17px;
  width: 100%;
  border: 0;
  transition: 0.2s;
  cursor: pointer;
  &:hover {
    color: #000000;
    box-shadow: 0 11px 29px rgba(8, 113, 93, 0);
  }
}
.head {
  .order-btn {
    margin-bottom: 25px;
  }
}

.money {
  padding: 85px 0;
}

.title {
  color: #000000;
  font-family: "Gotham Pro";
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  &.money-title {
    max-width: 410px;
  }
}

.sub_title {
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  span {
    background-color: #000000;
    padding: 6px 11px;
  }
}

.money-img {
  position: relative;
  text-align: right;
}

.img-text {
  text-shadow: -19px 6px 21px rgba(0, 0, 0, 0.08);
  color: #f5f5f5;
  font-family: "Gotham Pro";
  font-size: 196px;
  font-weight: 700;
  line-height: 1;
  display: block;
  text-transform: uppercase;
  position: absolute;
  bottom: -60px;
  right: 5px;
}

.money-info {
  color: #000000;
  font-family: "Gotham Pro";
  font-size: 24px;
  font-weight: 700;
  padding-left: 35px;
  background: url('../images/shape.svg') no-repeat left 2px;
  line-height: 1.2;
  margin-bottom: 50px;
}

.money-item {
  padding-left: 35px;
  position: relative;
  &:before {
    content: attr(money-count);
    color: #000000;
    font-family: "Gotham Pro";
    font-size: 10px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    top: 12px;
    left: 0;
  }
  &:after {
    content: "";
    width: 6px;
    height: 2px;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 8px;
  }
  h5 {
    color: #000000;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    /* Text style for "Найм и ада" */
    letter-spacing: 0.32px;
    margin-bottom: 15px;
  }
  p {
    color: #6b6b6b;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
  }
}

.money-sub_title {
  max-width: 300px;
  
}

.build-item {
  margin-bottom: 45px;
  p {
    color: #6b6b6b;
    font-family: "Gotham Pro";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 15px;
    span {
      color: #fefefe;
      font-family: "Gotham Pro";
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      background-color: #000000;
      letter-spacing: 0.56px;
      padding: 4px 10px;
    }
  }
}

.build-img {
  position: relative;
  margin-top: -76px;
  &:before {
    content: "";
    background: url('../images/swirling-elipses.png') no-repeat center;
//    background-size: 100%;
    width: 580px;
    height: 580px;
    position: absolute; 
    top: 50%; 
    left: 50%;
    margin-top: -290px;
    margin-left: -290px;
      -webkit-animation: rotate 30s infinite linear;
  animation: rotate 30s infinite ; 
    background-position: 127% 102%;
  }
  img {
    width: 100%;
  }
  .order-btn {
    max-width: 360px;
    position: absolute;
    bottom: 188px;
    left: 50%;
    transform: translateX(-50%);
  }
}
/* 
@keyframes rotate {
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
} */
@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
   
  }
}
.build {
  padding: 85px 0 45px;
}

.about {
  background: url('../images/bg2.png') repeat center;
  padding: 165px 0 180px;
  position: relative;
  background-size: cover;
  .about-before {
    content: "";
    background: url('../images/about.png') no-repeat;
    width: 851px;
    height: 614px;
    position: absolute;
    top: -165px;
    left: -370px;
  }
  .container {
    position: relative;
    &:before {
      content: "";
      width: 16px;
      height: 12px;
      border: 12px solid transparent;	
      border-top: 16px solid #29ceae;
      position: absolute;
      top: -5px;
      left: 14px;
    }
    &:after {
      content: "";
      width: 16px;
      height: 12px;
      border: 12px solid transparent;	
      border-left: 16px solid #29ceae;
      position: absolute;
      bottom: -65px;
      right: 0;
    }
  }
}

.about-title {
  color: #ffffff;
}

.about-item {
  color: #c6c6c6;
  font-family: "Gotham Pro";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding-left: 39px;
  position: relative;
  max-width: 285px;
  &:before {
    content: attr(data-about);
    width: 7px;
    height: 15px;
    color: #29ceae;
    font-family: "Gotham Pro";
    font-size: 10px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transform: rotate(-90deg);
    position: absolute;
    top: 7px;
    left: 0;
  }
  &:after {
    content: "";
    width: 2px;
    height: 27px;
    background-color: #29ceae;
    position: absolute;
    top: 35px;
    left: 2px;
  }
}

.selling {
  padding: 85px 0 75px;
}

.selling-item {
  position: relative;
  z-index: 5;
  h4 {
    color: #000000;
    font-family: "Gotham Pro";
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.48px;
    margin-bottom: 20px;
    line-height: 1.2;
  }
  p {
    color: #6b6b6b;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin: 0;
    &.mb30 {
      margin-bottom: 30px;
    }
  }
  .order-btn {
    max-width: 360px;
    margin-top: 45px;
  }
}

.mb30 {
  margin-bottom: 30px;
}

.selling-img {
  margin-top: 163px;
  position: relative;
  &:before {
    content: "";
    width: 7px;
    height: 10px;
    border: 7px solid transparent;
    border-left: 10px solid #29ceae;
    position: absolute;
    top: 0;
    left: -193px;
  }
  &:after {
    content: "";
    background: url('../images/12erfwr13.png') no-repeat center;
    width: 295px;
    height: 270px;
    position: absolute;
    top: -100px;
    left: -197px; 
    background-size: 100%;
  }
}

.speaker {
  background: url('../images/bg-img.png') no-repeat center bottom;
  padding-top: 120px;
  .post {
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.84px;
    background-color: #29ceae;
    display: inline;
    padding: 6px 12px;
  }
}

.speaker-item {
  h2 {
    margin-top: 45px;
    margin-bottom: 20px;
  }
  .speaker-sub_title {
    color: #010101;
    font-family: "Gotham Pro";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 25px;
  }
  p {
    color: #6b6b6b;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* Text style for "Изучает и" */
    letter-spacing: 0.32px;
  }
}

.programs {
  background: url('../images/bg3.png') no-repeat center;
  padding: 200px 0 198px;
  background-size: cover;
}

.programs-title {
  color: #fff;
  margin-bottom: 50px;
}

.programs-sub_title {
  color: #c6c6c6;
  font-family: "Gotham Pro";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 365px;
  letter-spacing: 0.32px;
  margin-bottom: 20px;
}

#programs-content {
  .item {
    display: none;
    max-width: 360px;
    transition: 0.2s;
    &.active {
      display: block;
      h4 {
        &.animate {
          &:after {
            width: 100%;
            transition: 1s;
          }
          
        }
      }
    }
    h4 {
      color: #29ceae;
      font-family: "Gotham Pro";
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 3.6px;
      padding-bottom: 12px;
      position: relative;
      transition: 0.2s;
      margin-bottom: 25px;
      &:before {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #ccc;
        transition: 1s;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      &:after {
        content: "";
        width: 0;
        height: 2px;
        background-color: #29ceae;
        transition: 1s;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      
    }
    p{
      color: #29ceae;
      font-family: "Gotham Pro";
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      /* Text style for "Делимся, ч" */
      letter-spacing: 0.32px;
    }
  }
}

.ml-auto {
  margin-left: auto;
}

.item-title {
  color: #c6c6c6;
  font-family: "Gotham Pro";
  font-size: 18px;
  font-weight: 700;
  padding-left: 54px;
  position: relative;
  margin-bottom: 45px;
  transition: 0.2s;
  cursor: pointer;
  &:before {
    content: "BL"attr(data-count);
    color: #c6c6c6;
    font-family: "Gotham Pro";
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    position: absolute;
    top: 7px;
    left: 0;
  }
  &:after {
    content: "";
    width: 12px;
    height: 2px;
    background-color: #c6c6c6;
    position: absolute;
    left: 15px;
    top: 0;
  transition: 0.2s;
    
  }
  &:hover, &.active {
    color: #29ceae;
    &:before {
      color: #29ceae;
    }
    &:after {
      width: 30px;
      background-color: #29ceae;
      left: 0;
    }
  }
}

.formula-img {
  text-align: right;
  &.before {
    
    position: relative;
    &:after {
      content: "";
      width: 719px;
      height: 719px;
      background: url('../images/bg897.png') no-repeat;
      position: absolute;
      bottom: -360px;
      right: -360px;
    }
    &:before {
      content: "";
      background: url('../images/124351231.png') no-repeat center;
      width: 719px;
      height: 719px;
      position: absolute;
      bottom: -360px;
      right: -360px;
      background-position: 50% 209px;
      animation: rotate 30s infinite;
      z-index: 5;
    }
  }
  
  .img-text {
      right: 105px;
      bottom: -110px;
      text-shadow: -13px 9px 17px rgba(0, 0, 0, 0.08);
      color: #f5f5f5;
      font-family: "Gotham Pro";
      font-size: 170px;
      font-weight: 700;
      text-transform: uppercase;
  }
}

.formula {
  padding: 198px 0;
  overflow: hidden;
  .item-text {
    color: #797979;
  font-family: "Gotham Pro";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  /* Text style for "У которых" */
  letter-spacing: 0.32px;
    max-width: 243px;
  }
  .order-btn {
    max-width: 360px;
    position: relative;
    
  }
}

.formula-container {
  max-width: 975px;
  margin: 0 auto;
}

.formula-item {
  h4 {
    color: #010101;
    font-family: "Gotham Pro";
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  p {
    color: #797979;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 40px;
  }
}

.mt170 {
  margin-top: 170px;
}

.text-right {
  text-align: right;
}

.formula-info {
  max-width: 180px;
  margin-left: auto;
  color: #010101;
  font-family: "Gotham Pro";
  font-size: 24px;
  font-weight: 700;
}

.mt120 {
  margin-top: 120px;
  position: relative;
  z-index: 10;
}

.button-info {
  color: #797979;
  font-family: "Gotham Pro";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 20px;
  max-width:  360px;
  text-align: center;
  
}

.text-center {
  text-align: center;
}

.cases {
  padding-bottom: 199px;
  .cases-carousel {
    position: relative;
    padding-bottom: 30px;
    &:before {
      content: "";
      width: 7px;
      height: 10px;
      border: 7px solid transparent;
      border-left: 10px solid #000;
      position: absolute;
      top: 45px;
      left: 30%;
      transform: translateX(-50%);
    }
    
    .owl-nav {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 70px;
      .owl-prev {
        width: 30px;
        height: 14px;
        transition: 0.2s;
        position: relative;
        float: left;
        &:before {
          content: "";
          width: 10px;
          height: 10px;
          border-top: 2px solid #000000;
          border-right: 2px solid #000000;
          position: absolute;
          top: 0;
          left: 0;
          transform: rotate(-138deg);
        }
        &:after {
          content: "";
          width: 22px;
          height: 2px;
          border-top: 2px solid #000000;
          position: absolute;
          top: 40%;
          left: 0;
          transform: translateY(-50%);
        }
        &:hover {
          &:before, &:after {
            border-color: #bababa;
          }
        }
        
      }
      .owl-next {
        width: 30px;
        height: 14px;
        transition: 0.2s;
        position: relative;
        float: right;
        &:before {
          content: "";
          width: 10px;
          height: 10px;
          border-top: 2px solid #000000;
          border-right: 2px solid #000000;
          position: absolute;
          top: 0;
          right: 0;
          transform: rotate(45deg);
        }
        &:after {
          content: "";
          width: 22px;
          height: 2px;
          border-top: 2px solid #000000;
          position: absolute;
          top: 40%;
          right: 0;
          transform: translateY(-50%);
        }
        &:hover {
          &:before, &:after {
            border-color: #bababa;
          }
        }
      }
    }
    .owl-dots {
      position: absolute;
      bottom: -8px;
      right: 20%;
      .owl-dot {
        display: inline-block;
        margin: 0 21px;
        vertical-align: baseline;
        color: #000000;
        font-family: "Gotham Pro";
        font-size: 14px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0.28px;
        &.active {
          span {
            width: 42px;
            display: block;
            color: #000000;
            font-family: "Gotham Pro";
            font-size: 40px;
            font-weight: 700;
            line-height: 36px;
            /* Text style for "01" */
            letter-spacing: 0.8px;
          }
        }
      }
    }
  }
}

.cases-title {
//  margin-bottom: -37px;
}

.cases-item {
  h3 {
    color: #010101;
    font-family: "Gotham Pro";
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  h5 {
    color: #010101;
    font-family: "Gotham Pro";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 17px;
  }
  p, ul {
    color: #6b6b6b;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* Text style for "Lorem ipsu" */
    letter-spacing: 0.32px;
  }
}

.registration-container {
  max-width: 950px;
  margin: 0 auto;
}

.registration {
  position: relative;
  background: url('../images/bg8947498.png') no-repeat center;
  background-size: cover;
  padding: 191px 0 270px;
  overflow: hidden;
  nav {
    top: 90%;
  }
  .info {
    padding-left: 97px;
    color: #ffffff;
    font-family: "Gotham Pro";
    font-size: 24px;
    font-weight: 700;
    position: relative;
    &:before {
      content: "";
          width: 16px;
    height: 12px;
    border: 12px solid transparent;
    border-left: 16px solid #29ceae;
    position: absolute;
    top: 10px;
    left: 0;
    } 
  }
}

.registration-title {
  color: #ffffff;
}

.registration-sub_title {
  color: #000000;
  margin-bottom: 30px;
  span {
    background-color: #ffffff;
  }
}

.registration-info {
  color: #c6c6c6;
  font-family: "Gotham Pro";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 320px;
  letter-spacing: 0.32px;
}

.registration-img {
  height: 206px;
  position: relative;
  &:before {
    content: "";
    background: url('../images/bg89754.png') no-repeat center;
    width: 719px;
    height: 719px;
    position: absolute;
    top: 50%;
    right: -360px;
    transform: translateY(-50%);
  }
  &:after {
    content: "";
    background: url('../images/2343223rr32wre.png') no-repeat;
    width: 719px;
    height: 719px;
    position: absolute;
    top: 50%;
    margin-top: -359.5px;
    right: -360px;
    background-position: 63px 210px;
    animation: rotate 30s infinite;
  }
}

.form-title {
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  /* Text style for "Создайте с" */
  letter-spacing: 0.36px;
  max-width: 270px;
  margin: 0 auto 30px;
  text-align: center;
}

.reg {
  background-color: #f5f5f5;
  display: block;
  padding: 71px 68px;
  label {
    color: #dedede;
    font-family: "Gotham Pro";
    font-size: 10px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    position: relative;
    display: block;
    margin-bottom: 30px;
    input {
      display: block;
      background-color: transparent;
      border: 0;
      width: 100%;
      color: #737373;
      font-family: "Gotham Pro";
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      /* Text style for "Ваш номер" */
      letter-spacing: 0.32px;
      padding-bottom: 17px;
    }
    &:before {
      content: "";
      width: 100%;
      height: 1px;
      background: #dedede;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    &:after {
      content: "";
      width: 0;
      height: 2px;
      background: #2bdfbc;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: 0.5s;
    }
    &.active {
      color: #2bdfbc;
      &:after {
        width: 100%;
      }
    }
  }
  .order-btn {
    max-width: 100%;
    margin-top: 10px;
  }
}

footer {
  background-color: #181818;
  padding: 15px 0;
  p{
    color: #65666a;
    font-family: "Gotham Pro";
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    a {
      color: #9b9b9c;
    }
  }
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    color: #9b9b9c;
  font-family: "Gotham Pro";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
    transition: 0.2s;
    &:hover {
      color: #2bdfbc;
    }
  }
}

.logo-rezart {
  text-align: right;
  
  svg {
    width: 75px;
    fill: #fff;
    transition: 0.2s;
    display: block;
    margin-left: auto;
    &:hover {
      fill: #c2a771;
    }
  }
}

.thx {
 text-align: center;
  background: #ffffff;
  min-height: 91.5vh;
  .logo {
    position: absolute;
    top: 29px;
    left: 50%;
    transform: translateX(-50%);
  }
  overflow: hidden;
}

.thx-list {
  li {
    display: inline-block;
    vertical-align: middle;
    margin:  0 5px;
  }
}

.thx-title {
  color: #000000;
  font-family: "Gotham Pro";
  font-size: 48px;
  font-weight: 700;
  line-height: 54px;
  text-transform: uppercase;
  position: relative;
    z-index: 5;
  letter-spacing: 0.96px;
}

.thx-box {
  position: relative;
  &:before {
    content: "";
    background: url('../images/bg845648.png') no-repeat center;
    width: 719px;
    height: 719px;
    position: absolute;
    top: -337px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
  }
  &:after {
    content: "";
    background: url('../images/9845678erg4.png') no-repeat center;
    width: 719px;
    height: 719px;
    position: absolute;
    top: -337px;
    left: 50%;
    margin-left: -359.5px;
    z-index: 1;
    background-position: 50% 210px;
    animation: rotate 30s infinite;
  }
  p {
    color: #000000;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 40px;
    position: relative;
    z-index: 5;
  }
  .order-btn {
    max-width: 302px;
    width: 100%;
    display: inline-block;
    position: relative;
    z-index: 5;
  }
}

.footer-thx {
  .col-lg-6, .container {
    padding: 0;
  }
}

.nav-btn {
  display: none;
}

.mob {
  display: none;
}

.about-carousel {
  .owl-nav {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 70px;
      .owl-prev {
        width: 30px;
        height: 14px;
        transition: 0.2s;
        position: relative;
        float: left;
        &:before {
          content: "";
          width: 10px;
          height: 10px;
          border-top: 2px solid #ccc;
          border-right: 2px solid #ccc;
          position: absolute;
          top: 0;
          left: 0;
          transform: rotate(-138deg);
        }
        &:after {
          content: "";
          width: 22px;
          height: 2px;
          border-top: 2px solid #ccc;
          position: absolute;
          top: 40%;
          left: 0;
          transform: translateY(-50%);
        }
        &:hover {
          &:before, &:after {
            border-color: #fff;
          }
        }
        
      }
      .owl-next {
        width: 30px;
        height: 14px;
        transition: 0.2s;
        position: relative;
        float: right;
        &:before {
          content: "";
          width: 10px;
          height: 10px;
          border-top: 2px solid #ccc;
          border-right: 2px solid #ccc;
          position: absolute;
          top: 0;
          right: 0;
          transform: rotate(45deg);
        }
        &:after {
          content: "";
          width: 22px;
          height: 2px;
          border-top: 2px solid #ccc;
          position: absolute;
          top: 40%;
          right: 0;
          transform: translateY(-50%);
        }
        &:hover {
          &:before, &:after {
            border-color: #fff;
          }
        }
      }
    }
}

.desktop {
  display: block;
}

.more-btn {
  float: right;
  text-decoration: underline;
      color: #010101;
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 17px;
  cursor: pointer;
  transition: 0.2s;
  text-transform: uppercase;
  &:hover {
    color: #29ceae;
  }
}

.more {
  display: none;
}
